<div style="position: fixed;
                bottom: 0;
                right: 0;
                left: 0;
                padding: 8px;
                background-color: whitesmoke;
                color: white;
                max-height: 100px;
                font-family: Comfortaa;
                margin-bottom: -5px;">
    <center>
        <div class="btext">
            Welcome to Pleximus
        </div>
        <div class="copyright btext">
            copyright <i class="copyright icon" style="font-size: 1em!important;"></i>2019
        </div>
    </center>
</div>

</body>

</html>